.home-page-header {
  margin-top: 0;
  position: relative;

  @media (min-width: 992px) {
    margin-top: -124px;
  }

  &__item {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.1)
      );
      z-index: 1;

      @media (min-width: 992px) {
        height: 220px;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0)
        );
        width: 50%;
        left: initial;
        right: 0;
      }
    }

    &.active {
      .home-page-header__content {
        h1,
        h2,
        h3,
        h4 {
        }

        p {
        }
      }
    }
  }

  &__item-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding-left: 0px;

    @media (min-width: 1440px) {
      padding-left: 40px;
    }
    @media (min-width: 1600px) {
      padding-left: 0px;
    }
  }

  &__slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;

    @media (min-width: 992px) {
      width: 50%;
    }
  }

  &__content {
    width: 100%;
    max-width: 480px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    position: relative;
    z-index: 2;
    min-height: 500px;
    @media (min-width: 992px) {
      min-height: calc(60vh + 124px);
      margin-top: 62px;
      padding-right: 40px;
    }

    h1,
    h2,
    h3,
    h4 {
      animation: FadeInDown 0.25s ease-in-out;
    }

    @media (min-width: 992px) {
      width: 50%;
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__cta {
  }

  &__carousel-nav {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;

    @media (min-width: 992px) {
      bottom: 0;
      top: initial;
    }

    .carousel-control-prev,
    .carousel-control-next {
      position: relative;
      width: 32px;
      height: 32px;
      background-color: $color__company-primary;
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.25s ease-in-out;
    }

    .carousel-control-prev {
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/left-arrow.svg");
      border-right: 0.5px solid rgba(255, 255, 255, 0.33);
      padding-right: 2px;
      border-bottom-left-radius: 3px;

      @media (min-width: 992px) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 3px;
      }
    }

    .carousel-control-next {
      border-left: 0.5px solid rgba(255, 255, 255, 0.33);
      right: 0;
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/right-arrow.svg");
    }
  }
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}
