.login form .input, .login form input[type=checkbox], .login input[type=text] {
  outline: 0;
  box-shadow: none !important;
  &:focus {
    border-color: $color__company-primary;
  }
}

.login {
  #backtoblog {
    display: none;
  }
}

.wp-hide-pw {
  color: $color__company-primary !important;
}

.wp-core-ui .button-primary{
  background-color: $color__company-primary;
  outline: 0 !important;
  border-color: $color__company-primary;
  &:hover, &:active, &:focus{
    background-color: $color__company-tertiary;
    border-color: $color__company-tertiary;
  }
}

body.login{
  background-color: $color__company-secondary;
  form{
    border-color: $color__company-primary;
  }
}

.login{
  #nav{
    padding:0;
  }
  .message{
    border-color: $color__company-primary;
  }
  a{
    &:link, &:visited{
      color: $color__text-main;
    }
    &:hover, &:active{
      color: $color__company-primary !important;
    }
  }
  h1{
    a{
      width:100%;
      height:100px;
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/company_brand.png");
      background-size: contain;
    }
  }
}