footer {
  background: rgb(4, 0, 61);
  background: linear-gradient(
    90deg,
    rgba(4, 0, 61, 1) 0%,
    rgba(7, 0, 111, 1) 100%
  );
  color: white;
  line-height: 2rem;

  a {
    color: white;
    transition: all 0.5s ease-in-out;

    &:after {
      transition: all 0.25s ease-in-out;
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 0;
      text-align: center;
      height: 2px;
      background-color: blanchedalmond;
      z-index: 2;
      background-repeat: no-repeat;
    }
    &:hover {
      opacity: 0.5;

      &:after {
        bottom: -3px;
        left: 0px;
        width: 100%;
      }
    }
  }
  // class for main containers in footer.php
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;

    a {
      position: relative;
      color: white;
    }

    img {
      -webkit-filter: invert(100%);
      /* safari 6.0 - 9.0 */
      filter: brightness(0) invert(100%);
    }
  }

  h4,
  h5,
  h6 {
    letter-spacing: 0;
    color: white;
    font-weight: 600;
  }

  ul {
    list-style-type: none;
    font-size: 1.1rem;
    padding: 0;
    margin-bottom: 0;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  p {
    font-size: 0.95rem;
    letter-spacing: 0;
    margin-bottom: 0;
    margin: 0 auto;
    width: 80%;

    @media (min-width: 768px) {
      margin: 0;
    }

    @media (min-width: 992px) {
      width: 50%;
      margin: 0;
    }
  }

  a {
    color: white;
  }

  //footer top part
  .prefooter {
    padding: 50px 0 0;

    @media (min-width: 768px) {
      padding: 50px 0;
    }

    &__left {
      &-address {
        a {
          color: white;
          transition: all 0.5s ease-in-out;

          &:hover {
            opacity: 0.5;
            &:after {
              display: none
            };
          }
        }
        @media (min-width: 768px) {
          padding-left: 0px;
        }

        @media (min-width: 992px) {
          padding-left: 0px;
        }

        @media (min-width: 1200px) {
          padding-left: 0px;
        }

        @media (min-width: 1440px) {
          padding-left: 40px;
        }

        @media (min-width: 1600px) {
          padding-left: 10px;
        }

        @media (min-width: 1800px) {
          padding-left: 0px;
        }

        &-top {
          margin-bottom: 50px;
        }

        a {
          color: white;
        }
      }
    }

    &__right {
      .menu-heading {
        font-size: 1.4rem;
        letter-spacing: 0;
        color: white;
        font-weight: 600;
      }

      .sub-menu {
        font-weight: 300;
        margin-left: 0;
      }

      padding-top: 50px;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        padding-top: 0;
        padding-right: 30px;
      }

      @media (min-width: 1200px) {
        padding-right: 0px;
      }

      &-item {
        padding-bottom: 50px;

        @media (min-width: 768px) {
          padding-bottom: 0;
        }
      }

      a {
        color: white;
      }
    }
  }

  //footer bottom part
  .footer {
    @media (min-width: 768px) {
      padding-left: 0px;
      padding-right:60px;
    }

    @media (min-width: 992px) {
      padding-left: 0px;
    }

    @media (min-width: 1200px) {
      padding-left: 0px;
    }

    @media (min-width: 1440px) {
      padding-left: 40px;
    }

    @media (min-width: 1600px) {
      padding-left: 0px;
    }

    .col-12 {
      // @media (min-width: 1600px) {
      //   padding: 0 15px 0 5px;
      // }
    }

    &__item {
      text-align: center;
      width: 100%;

      @media (min-width: 768px) {
        text-align: left;
        display: block;
      }

      &-links {
        text-align: center;
        width: 100%;

        @media (min-width: 768px) {
          display: flex;
        }

        @media (min-width: 1200px) {
          padding-left: 40px;
        }

        li {
          padding-right: 20px;
        }
      }
    }
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: 768px) {
      justify-content: flex-end;
    }

    &__icon {
      transition: transform 0.25s ease-in-out;
    }

    &__link {
      transition: opacity 0.25s ease-in-out;
    }

    &__item {
      padding-right: 10px;
      animation: FadeIn 0.5s both ease-in-out;

      &:hover {
        .footer-socials__icon {
          transform: scale(1.1);
          opacity: 0.7;
        }
      }
    }
  }
}
