header#masthead {
  .top-header {
    background-color: $color__light-gray;
    padding: 5px 0;
    z-index: 4;
    position: relative;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      @media (min-width: 648px) {
        justify-content: space-between;
      }

      @media (min-width: 1440px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media (min-width: 1600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .header-usps {
      display: none;

      @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
      }

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: FadeIn 0.5s both ease-in-out;

        &:not(:first-child) {
          margin-left: 25px;
        }
      }

      &__title {
        margin-left: 7px;
        font-size: 0.875rem; //14px
        line-height: 0.875rem;
        font-weight: bold;
        color: $color__text-main;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }

    @for $p from 1 through 10 {
      .header-usps__item:nth-child(#{$p}n) {
        animation-delay: #{$p * 0.05}s;
      }
    }

    .header-contacts {
      display: none;

      @media (min-width: 648px) {
        display: flex;
        flex-direction: row;
      }

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: FadeIn 0.5s both ease-in-out;

        &:not(:first-child) {
          margin-left: 25px;
        }

        &:hover {
          .header-contacts__icon {
            transform: scale(1.15);
          }

          .header-contacts__link {
            opacity: 0.7;
          }
        }
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.25s ease-in-out;

        img {
          width: 18px;
          height: 18px;
        }
      }

      &__link {
        margin-left: 7px;
        font-size: 0.875rem; //14px
        line-height: 0.875rem;
        font-weight: bold;
        color: $color__text-main;
        text-decoration: none;
        transition: opacity 0.25s ease-in-out;
      }
    }

    .header-socials {
      display: flex;
      flex-direction: row;

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: FadeIn 0.5s both ease-in-out;

        &:not(:first-child) {
          margin-left: 7px;
        }

        &:hover {
          .header-socials__icon {
            transform: scale(1.1);
          }

          .header-socials__link {
            opacity: 0.7;
          }
        }
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.25s ease-in-out;

        img {
          width: 16px;
          height: 16px;
        }
      }

      &__link {
        margin-left: 7px;
        font-size: 0.875rem; //14px
        line-height: 0.875rem;
        font-weight: bold;
        color: $color__text-main;
        transition: opacity 0.25s ease-in-out;
      }
    }
  }

  .lower-header {
    background-color: white;
    position: relative;
    padding: 40px 0;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      width: 0%;
      bottom: 0;
      background-color: lighten($color__company-primary, 85%);
      height: 1px;
      z-index: 4;
      transition: width 0.55s cubic-bezier(0.82, 0.01, 0.77, 0.78);
      transition-delay: 0.35s;
    }

    &.active {
      &:after {
        width: 100%;
      }
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (min-width: 1440px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media (min-width: 1600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .logo-container {
      position: relative;
      max-width: 230px;
      height: auto;
      z-index: 4;

      &:after {
        position: absolute;
        pointer-events: none;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        animation: DisappearLeft 0.55s cubic-bezier(0.82, 0.01, 0.77, 0.78);
        opacity: 1;
      }
    }

    @media (min-width: 992px) {
      padding: 0;
    }

    // .custom-logo-link {

    //   width: 100%;
    //   height: 50px;
    //   display: block;
    // }
  }
}

.home {
  header#masthead {
    .lower-header {
      background-color: transparent;
    }
  }
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9;
  background-color: rgba(255, 255, 255, .97);
  padding: 0 20px;

  &__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 720px;
  }

  &.active {
    width: 100%;
    visibility: visible;
    pointer-events: all;
  }

  .close-icon {
    position: absolute;
    top: 35px;
    right: 20px;
    width: 32px;
    height: 32px;
    z-index: 2;
    cursor: pointer;

    span {
      position: relative;
      display: flex;
      width: 32px;
      height: 3px;
      background-color: $color__company-primary;
      transition: background-color .25s ease-in-out;
      border-radius: 3px;

      &:first-child {
        transform: rotate(45deg);
        top: 3px;
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      span {
        background-color: $color__company-tertiary;
      }
    }
  }

  .product-search {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;

    &__form-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 13px 5px rgba(202, 202, 202, 0.18);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    label {
      width: 100%;
      margin: 0;
    }

    &__input {

      &[type="search"] {
        border: 1px solid transparent;
        width: 100%;
        height: 64px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 15px 20px;
        font-weight: bold;
        font-size: 1.5em;
      }
    }

    &__button-container {
      position: relative;
      pointer-events: none;

      &:after {
        content:'';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/wp-content/themes/webcommitment-premium-shop-theme/img/search-white.svg);
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
      }

    }

    &__button {
      width: 64px;
      height: 64px;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      display: block;
      top: 0;
      right: 0;
      padding: 0;
      text-align: center;
      cursor: pointer;
      pointer-events: all;
      z-index: +1;
      background: linear-gradient(
                      90deg, #04003d 0, #07006f 80%);

      &:hover {
        background: linear-gradient(
                        90deg,
                        rgba(241, 90, 20, 1) 0%,
                        rgba(240, 35, 23, 1) 80%);
      }

    }
  }
}