body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 16px;
  line-height: $font__line-height-body;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "headings";
@import "copy";